body {
  background: #EEE;
  font-family: sans-serif;
  font-size: 20px;
  margin: 3em;
  padding: 0;
}

#register {
  width: 20em;
  margin: auto;
}

#container {
  background: white;
  margin: 0 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#container h1 {
  text-align: center;
}
#container table {
  font-family: monospace;
  width: 100%;
  border-collapse: collapse;
}
#container td, #container th {
  padding: 5px;
}
#container th {
  text-align: left;
}
#container td, #container #total {
  text-align: right;
}
#container tfoot th {
  border-top: 1px solid black;
}

#entryForm {
  background: #333;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#entryForm input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#entryForm input:focus {
  outline: none;
  border-color: rgba(255,255,255,.75);
}
